<html>

<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css"> {% endif %}
</head>

<body>
    <div>
        <nav>
            <li>Microblog: <a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <hr> {% with messages = get_flashed_messages() %} {% if messages %}
        </nav>
    </div>
    <hr> {% block content %}{% endblock %}
</body>

</html>
