<html>

<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Welcome to microblog</title>
    {% endif %}
</head>

<body>
    {% extends "base.html" %} {% block content %}


    <div class="row large-12 columns">
        <div class="large-6 columns try">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vitae, ducimus fugit obcaecati accusamus numquam reprehenderit autem inventore labore dolore sequi quidem cum, quasi sint, alias soluta illo non, temporibus!</p>
        </div>
        <div class="large-6 columns try2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores vitae, ducimus fugit obcaecati accusamus numquam reprehenderit autem inventore labore dolore sequi quidem cum, quasi sint, alias soluta illo non, temporibus!</p>
        </div>
    </div>


    {% endblock %}

</body>

</html>
